pymed==0.8.9
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.7.14
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.2
seqeval==1.2.2
sklearn==0.0
spacy==2.3.2
subprocess32==3.5.4
tokenizers==0.9.3
torch==1.5.1
torchvision
#torchvision==0.6.0a0+35d732a
tqdm==4.48.0
transformers==3.5.1
urllib3==1.25.9
wandb==0.9.3

